body {
    background-image: url(../Images/12.png);
}


/*------------Header--------------*/
#main-header{
	background-image:url("../Images/hd.jpg");
	width:100%;
	top:0;
	left:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

/*-------------Logo-------------*/
.logo{
	
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
	
}	

li a:hover {
  background-color:#11526A;
}

.navi{

    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background-color:#333;
	opacity:0.9;
	font-family:Geneva;
	overflow: auto;
}
.navi li{
    display:inline;
}
.navi a{
    display:inline-block;
    padding:10px;
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 20%;
	text-align: center;
}
/*drop down*/
.dropbtn {
  background-color: #009999;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  /*display:inline;*/
  font-size:18px;
  padding: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
/*---------Search bar-----------*/
.clear{
	clear:both;
}



/*------Hero Section---------*/
.container-hero {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

/*-----------Welcome Text----------*/
.welcome-text{
	position: absolute;
	margin-top: -18%;
    margin-left: 34%;
	font-size:50px;
	color:white;
	font-weight: bold;
	text-shadow: 5px -2px 8px black;
	text-shadow-width:55px;
}

/*----------search Bar & Button & Title------------*/
#search {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 500px;
    transform: translate(-50% -50%);
    color: #fff;
}

.S-Block {
	position:relative;
	display:inline-block;
	font-size:20px;
	box-sizing: border-box;
	transition:.5s; 
}

.SIn{
	background: #fff;
	width: 340px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius:25px 0 0 25px;
}
.Ssub{
	position:relative;
	border-radius:0 25px 25px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline:none;
	cursor:pointer;
	background: #ffc107;
}


/* -------hover-----------*/

.column:hover {
	background-color:#11526A;
	border-color:red;
	opacity: 0.8;
}


.b1:hover{
	background-color:#ff4653;
	border-color:white;
	opacity: 0.8;
}


.continueButn:hover{
	background-color:#11526A;
	border-color:white;
	opacity: 0.8;
}
.bookButn:hover{
	background-color:#11526A;
	border-color:white;
	opacity: 0.8;
}

/**/
	

/*-----------Upcoming Events------------*/
.b4{
	width:100%;
	font-size:30px;
	background-color:#11526A;
	color:white;
	text-align:left;
	
	
}
.b5{
	width:20%;
	font-size: 16px;
}
/*-------Select Travel Packages----------*/
.b1{
	width:49.7%;
	font-size: 30px;
	background-color:#11526A;
	color:white;
}

.b2{
	width:18%;
	font-size: 16px;
}

.b3{
	width:5%;
	font-size: 10px;
}
.b6{
	width:100%;
	font-size: 30px;
	background-color:#11526A;
	color:white;
	text-align:left;
	
}
.bookButn{
	width:8%;
	font-size: 15px;
	background-color:white;
	color:black;
}
.continueButn{
	width:10%;
	font-size: 30px;
	background-color:white;
	color:black;
	
}
.buttons{
	margin-left:50px;
	width:9%;
	font-size: 12px;
	}

/*---------User Ratings-------------*/
	.rateHeader {
      font-size: 25px;
      margin-right: 25px;
	  text-align:left;
   }


.rate-tagline {
    position: absolute;
    margin-top: 5px;
    margin-left: 510px;
    font-size:13px;
}
.fa {
    font-size: 25px;
    color: grey;
}
   .rated {
      color: rgb(255, 0, 0);
      border: 2px solid yellow;
   }
   
   .data {
      float: left;
      width: 15%;
      margin-top: 10px;
      font-weight: bold;
   }
   
   .progressBar {
      margin-top: 10px;
      float: left;
      width: 70%;
   }
   .right {
      text-align: center;
   }
   .row:after {
      content: "";
      display: table;
      clear: both;
   }
   .progressContainer {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
      border-radius: 10px;
   }
   .bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
      border-radius: 10px;
   }
   
.bar-5 {
    width: 80%;
    height: 18px;
    background-color: #FFCA47;
}
.bar-4 {
    width: 50%;
    height: 18px;
    background-color: #EBA737;
}
.bar-3 {
    width: 20%;
    height: 18px;
    background-color: #F1802C;
}
.bar-2 {
    width: 65%;
    height: 18px;
    background-color: #E86736;
}
.bar-1 {
    width: 40%;
    height: 18px;
    background-color: #F04935;
}

.rate-box{
	width:790px;
	background-color:#eee;
	height:223px;
    left: 550px;
	border: 3px solid #11526A;
  padding: 10px 2px 25px 20px;
 position: absolute;
}

/*--------------User Comment & Avatar ------*/
.user-box {
    position: relative;
    width: 500px;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 9px;
    margin-bottom: 4px;
    overflow: hidden;
}

.user-box::after {
  content: "";
  clear: both;
  display: table;
}

.user-box-img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        margin: 8px 3px 0px 5px;
        border: 5px solid black;
    }

.user-box span {
  font-size: 20px;
  margin-right: 15px;

}

.user-box {
    text-align: left;
    
}

    .user-box h2 {
        position: relative;
        overflow: hidden;
    }

    .user-box p {
        width:75%;
        height:50%;
        margin-left: 120px;
        margin-top:-15px;
        position: absolute;
        overflow: hidden;
    }

.user-box-rate {
    margin-left: 10px;
    margin-top: 22px;
}
/*--------------footer------------*/
.desing{
	opacity: 0.7;
	color:white;
	background-color:#11526A;
	border-color:#11526A;
	padding:5px;
}

.form{
	color:black;
	opacity: 0.78;
}

*{
	box-sizing: border-box;
}
.column{
	float: left;
	width: 20%;
	padding: 5px;
}
.column1{
	float: left;
	width: 33.3%;
	padding-left:10px;
}

.row{
	content:"";
	clear: both;
	display:table;
	position: relative;
    font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.7;
}


/*----------Styles for Customer Reviews----------*/
table {
	border: 3px solid black;
	width:100%;
	background-color: white;
	border-collapse:collapse;
}

tr, th {
  border: 1px solid #ddd;
}

div.th{
	border-color:gray;
	
}

tr {
	font-family: Arial Black;

}

td {
	font-family: Arial Black;
}


#tbl{
	margin-top:15px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	border-color:gray;
}
/*------slide show-------------*/
.slider{
	display:block;
	width:100%;
	height:50%;
	background-color:#11526A;
	overflow:hidden;
	position:absolute;
	
} 

.slider > *{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background:#11526A;
	animation: slide 12s infinite;
	overflow:hidden;
}

.slide:nth-child(1){
	left:0%;
	animation-duration:40s;
	animation-delay:-1s;
	background-image:url(../Images/vesak.jpg);
	background-position:center;
}

.slide:nth-child(2){
	animation-duration:40s;
	animation-delay:2s;
	background-image:url(../Images/Kandy.jpg);
	background-position:center;
}
.slide:nth-child(3){
	left:0%;
	animation-duration:40s;
	animation-delay:5s;
	background-image:url(../Images/Sripada.jpg);
	background-position:center;
}

.slide p{
	font-family:Courier New;
	font-size:60px;
	text-align:center;
	display:inline-block;
	width:100%;
	
}

@keyframes slide{
	0% { left: 100%; width:100%}
	5% {left:0%;}
	25% {left:0%;}
	100%{left:100%; width:0%}
}







	
	


